ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #2d545e;
position: fixed;
top: 0;
width: 100%;
border-left: 5px #12343b;
transition: border-width 0.4s;
}

li {
float: left;
border-right: 1px solid #2d545e;
background-color: #12343b;
}

li a {
display: block;
color: #e1b382;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color: #2d545e;
border-right: 1px solid #e1b382;
font-size: 180%;
-webkit-text-stroke: 0.4px #e1b382;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #12343b;
transform: scale(1.1);
}
.active {
background-color: #12343b;
}


li:last-child {
border-right: none;
background-attachment: fixed;
}
h1 {
    width: 99%;
    background-color: #2d545e;
    color: #e1b382;
	font-size: 250%;
	text-align: center;
	border: #e1b382;
	border-width: 10px;
    -webkit-text-stroke: 0.8px #c89666;
    border-left: 5px #c89666 solid;
    transition: border-width 0.4s;
    
}
h1:hover {
    border-width: 15px;

}

h2 {
    width: 99%;
    /* background-color: #e1b382; */
    color: #2d545e;
	font-size: 100%;
	text-align: center;
	border: #e1b382;
	border-width: 10px;
}

h3 {
    width: 100%;
    /* background-color: #c89666; */
    color: #2d545e;
	font-size: 100%;
	text-align: center;
	border: #e1b382;
	border-width: 10px;
}

section{
    /* background-color:#e1b382; */
	float: left;
	width:100%;
	height:100%;
    /* background-image: url("img7.jpg");
    background-repeat: no-repeat; Do not repeat the image
    background-size: cover;  */

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

.responsive {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 32.5vw;
    height: auto;
    transition: transform .4s;
}
.responsive:hover{
    transform: scale(1.5);
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform .2s;
  }
.avatar:hover{
    transform: scale(1.3);
    /* HOW TO ZOON ON HOVER
    https://www.w3schools.com/howto/howto_css_zoom_hover.asp
    */
}
body {
    background-image: url("wallpaper.jpg");
    background-color: #cccccc;
  }
  /* Sand Tan: #e1b382

Sand Tan Shadow: #c89666

Night Blue: #2d545e

Night Blue Shadow: #12343b 

https://hookagency.com/blog/website-color-schemes-2020/
*/